<!-- Services Section -->
<section class="wrapper-column" id="services">
    <div class="wrapper-content">
        <h2 class="content-title">Therapies & Treatments</h2>
        <p class="content-text">
            We offer extensive medical procedures to outbound and inbound
            patients.
        </p>
        <div class="service-cards">
            {% for s in services %}
            <div class="card">
                <div class="card-head">
                    <div class="card-icon">
                        {% if s.icon %}
                        <img src="{{ s.icon.url }}" />
                        {% endif %}
                    </div>
                    <p class="card-title">{{ s.title }}</p>
                </div>
                <p class="card-text">{{ s.short_description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>