{% load static %}

<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 8448498161</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>info@hospitalfounder.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-5">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <h3 class="brand">Hospital Founder</h3>
                        </div>
                        <div class="footer-text">
                            <p>
                                Providing exceptional healthcare services with cutting-edge
                                technology and compassionate care. Our mission is to improve
                                the health and well-being of our patients through
                                exceptional medical services.
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-5">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-4">
                            <p>
                                Don't miss to subscribe to our updates, kindly fill the form
                                below.
                            </p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" placeholder="Email Address" required />
                                <button type="submit">
                                    <i class="fab fa-telegram-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="place-key">
            <p>
                Delhi | Noida | Gurugram | Faridabad | Ghaziabad | Hapur | Karnal |
                Panipat | Sonipat | Ambala | Ghaziabad | Jhajjar | Hisar | Ellenabad
                | Isharwal | Mahendragarh | Bhiwani | Agra | Behror | Jaisalmer |
                Raxaul | Palamu | Siwan | Godda | Prayagraj | Sonpur | Aligarh |
                Jhabua | Patna | Darbhanga | Begusarai | Vaishali | Varanasi |
                Gwalior | Betul | Aurangabad | Kanpur | Nagpur | Hajipur | Barabanki
                | Bhopal | Basti | Mainpuri | Farrukhabad | Vadodara | Jalgaon |
                Auraiya | Rohtas | Munger | Mudki | Lucknow | Jaunpur | Rampur |
                Moradabad | Bareilly | Deoria | Vaishali | Bhilwara | Mohali |
                Bhawanigarh | Rupnagar | Khagaria | Muzaffarpur | Bahraich | West
                Champaran | Sehore | Korba | Azamgarh | Kanker | Banswara | Bikaner
                | Jalor | Bhind | Jabalpur | Indore | Koyar | Jamshedpur | Varanasi
                | Gorakhpur | Maharajganj | Udham Singh Nagar | Chamba | Purnea |
                Baran | Haridwar | Saran | Mirzapur | Supaul | Derabassi | Chandauli
                | Hardoi | Bijnor | Muzaffarpur | Valsad | Patna | Ambernath East
                Thane | Ambernath West Thane | Saharsa |
            </p>
        </div>
        <hr />
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-start">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2025, All Right Reserved</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-end">
                    <div class="footer-menu">
                        <ul class="list-unstyled d-flex justify-content-end mb-0">
                            <li class="ms-3"><a href="#home">Home</a></li>
                            <li class="ms-3"><a href="#">Terms</a></li>
                            <li class="ms-3"><a href="#">Privacy</a></li>
                            <li class="ms-3"><a href="#">Policy</a></li>
                            <li class="ms-3"><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
<script src="{% static 'js/slick.min.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>